

<div class="custom-banner-section page-width">

  <div class="banner_section_content">
    <div class="image_cstmBanner">
      {% if section.settings.bannerImg != blank %}
    <img src={{ section.settings.bannerImg | img_url: 'original' }}  alt="img_1"/>
        {% endif %}
      {% if section.settings.bgBannerImg  != blank %}
      <div class="bg_customBanner">
        <img src={{ section.settings.bgBannerImg | img_url: 'master' }}  alt="img_2"/>
      </div>
        {% endif %}
    </div>

    <div class="text-section">
      {% if section.settings.bannerText != blank %}
      <p>{{ section.settings.bannerText }}</p>
        {% endif %}
      {% if section.settings.btnText1 != blank %}
      <div class="banner_btn">
        {% if section.settings.btnUrl1 != blank %}
        <a href="{{ section.settings.btnUrl1 }}"><button>{{ section.settings.btnText1 }}</button></a>
          {% endif %}
         {% if section.settings.btnUrl2 != blank %}
        <a href="{{ section.settings.btnUrl2 }}"><button>{{ section.settings.btnText2 }} <span> <img src="https://cdn.shopify.com/s/files/1/0606/2433/9075/files/icon_8.png?v=1722276815"  alt="img_icon_1"/></span> </button></a>
        {% endif %}
      </div>
        {% endif %}
    </div>
  </div>
  
</div>



{% schema %}
{
  "name": "Custom Banner Section",
  "tag": "section",
  "class": "cstm_banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bannerImg",
      "label": "Banner Image"
    },
     {
      "type": "image_picker",
      "id": "bgBannerImg",
      "label": "Background Banner Image"
    },
    {
      "type": "text",
      "id":"bannerText",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "btnUrl1",
      "label": "Button Url 1"
    },
     {
      "type": "text",
      "id":"btnText1",
      "label": "Button Lablel 1"
    },
     {
      "type": "url",
      "id": "btnUrl2",
      "label": "Button Url 2"
    },
     {
      "type": "text",
      "id":"btnText2",
      "label": "Button Lablel 2"
    }
    
  ]
,
  "presets": [
    {
      "name": "Custom Banner Section",
      "settings": {
      }
    }
  ]

}
{% endschema %}